<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>
<meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>index.html</title>

</head>
	<body>
	Pumpkin Pi<br>
	<br>
	<form action="/blink" method="post">
	  <p>
	  Blink Lights &nbsp; &nbsp;&nbsp;
	  <input value="Blink Lights" name="Blinking" type="submit">
	  </p>
	</form>
	<form action="/sound" method="post">
	  <p>
	  Play Random Sound
	  <input value="Play Sound" name="Sound" type="submit">
	  </p>
	</form>
        <form action="/watchd" method="post">
          <p>
          Watch For Movement
          <input value="Start Watching" name="Watch" type="submit">
          <input value="Stop Watching" name="Stop" type="submit">        
          </p>
        </form>

</body>
</html>
